<div class="parent">
  <div class="container">
    <div class="header">
      <h2>To-Do</h2>
      <div class="input-add">
        <input type="text" id="input" placeholder="Create a task.." />
        <button class="addBtn material-symbols-outlined">Add</button>
      </div>
    </div>
    <div class="list">
      <h2>Tasks</h2>
      <ul id="myUl">
        <li>
          Pay bills<span class="remove liIcon material-symbols-outlined">
          remove
          </span>
        </li>
        <li>Take out trash<span class="remove liIcon material-symbols-outlined">
          remove
        </li>
      </ul>
    </div>
  </div>
</div>