<div class="parent">
  <div class="container">
    <div class="header">
      <h2>To-Do</h2>
      <div class="input-add">
        <!--form.submit-->
        <input type="text" id="input" placeholder="Create a task.." />
        <button class="addBtn material-symbols-outlined">Add</button>
      </div>
    </div>
     <h2>Tasks</h2>
    <div class="list">
      <ul id="myUl">
      </ul>
    </div>
  </div>
</div>