<!DOCTYPE html>
<html>
  <head>
    <title>HouseholdTodo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
  
 <div class = "header">
  <h2>To-Do</h2> 
  <div class = "input-add">
  <input type = "text" id = "input" placeholder = "Create a task..">
  <button class ="addBtn material-symbols-outlined"> Add</button>
  </div>
</div>
<div class ="list">
<h2>Tasks</h2>
<ul id ="myUl">
   <li>Pay bills</li>
   <li>Take out trash</li>
 </ul>
</div>
  </body>
</html>
